body {
    background: lightgray;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: gray;
    color: white;
    padding: 0.5em 0;
    font-size: 1.5em;
    font-weight: bold;
}

article {
    padding: 1em 0;
}

footer {
    border-top: 1px solid gray;
}
